{% extends 'base.html.twig' %}

{% block title %}ActivityTime index{% endblock %}

{% block body %}
    <h1>ActivityTime index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StartAt</th>
                <th>EndAt</th>
                <th>Distance</th>
                <th>Time</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activity_time in activity_times %}
            <tr>
                <td>{{ activity_time.id }}</td>
                <td>{{ activity_time.startAt ? activity_time.startAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ activity_time.endAt ? activity_time.endAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ activity_time.distance }}</td>
                <td>{{ activity_time.time }}</td>
                <td>
                    <a href="{{ path('app_main_data_activity_time_show', {'id': activity_time.id}) }}">show</a>
                    <a href="{{ path('app_main_data_activity_time_edit', {'id': activity_time.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_main_data_activity_time_new') }}">Create new</a>
{% endblock %}
