<nav class="navbar navbar-expand-lg navbar-dark bg-nav px-5 sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('homepage') }}"><img id="logo" src="{{ asset('app_icon/logo.png') }}" width="150px"></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse " id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				{% if is_granted('ROLE_CLIENT') %}
				<li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('dashboard') }}">Dashboard</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('app_main_objective_index') }}">Mes objectifs</a>
                </li>
				<li class="nav-item mx-auto">
                    <a class="nav-link" aria-current="page" href="{{ path('daily_report_show_current') }}">Mon rapport du jour</a>
                </li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<img src="{{ asset('images/user/' ~ app.user.gender ~ '.jpg')}}" alt="user" height="25" width="25">
							{{ app.user.identity }}
						</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="{{ path('profile') }}">Mon profil</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('logout') }}">Déconnexion</a>
							</li>
						</ul>
					</li>

				{% else %}
					<li class="nav-item">
						<a class="navbar-brand btn btn-connexion" href="{{ path('login') }}">Connexion</a>
					</li>
					<li class="nav-item">
						<a class="navbar-brand btn btn-inscription" href="{{ path("register")}}">S'inscrire</a>
					</li>

				{% endif %}
				<li class="nav-item mt-2">
					<input type="checkbox" class="demo5" id="demo5">
					<label for="demo5"></label>
					<i class="fa-solid fa-moon" style="color:#272729"></i>
					<i class="fa-solid fa-sun" style="color:white"></i>
				</li>
			</ul>

		</div>
	</div>


</nav>
