{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}
{% block stylesheets %}
    {% for file in encore_entry_css_files('home', 'main') %}
        <link rel="stylesheet" href="{{ preload(file, { as: 'style', importance: 'high' }) }}">
    {% endfor %}
{% endblock %}
{% block body %}
    <div class="container">
        {# <section class="header d-flex justify-content-around align-items-center">
        <div class="d-flex flex-column w-50">
            <img src="{{asset('build/main/images/MyFitLog-1.png', 'main')}}" alt="" width="300">
            <p class="header-description">Améliorez votre santé en surveillant votre activité physique, 
            votre alimentation et votre sommeil grâce à notre application de surveillance de la santé.
            </p>
            <button class="btn-header text-white rounded align-self-center py-2 px-4 mt-2">Get started</button>
        </div>
            <img src="{{ asset("build/main/images/hero.svg", 'main' )}}" alt="" height="400" width="400">

        </section> #}
        <section class="header row vh-75">
            <div class="col-md-7 d-flex flex-column justify-content-center align-items-center">
                <img src="{{asset('build/main/images/MyFitLog-1.png', 'main')}}" alt="" width="300">
                <p class="header-description w-75">Améliorez votre santé en surveillant votre activité physique, 
                votre alimentation et votre sommeil grâce à notre application de surveillance de la santé.
                </p>
                <div class="d-flex justify-content-center ">
                    <button class="btn-header text-white rounded align-self-center py-2 px-4 mt-2">Get started</button>
                </div>
            </div>
            <div class="col-md-5 d-flex justify-content-center">
                <img src="{{ asset("build/main/images/hero.svg", 'main' )}}" alt="" height="400" width="400">
            </div>
        </section>
        <section class="concept mt-5">
        <h2>Concept</h2>
        <p>
        Bienvenue sur MyFitLog, l'application de surveillance de la santé qui vous accompagne
         dans votre parcours de bien-être et de condition physique. Nous avons créé cette application pour
          aider les utilisateurs à suivre leur santé et leur progression de manière simple et pratique.
           Voici quelques points de concept clés de notre application :
        </p>
        <div>
            <div class="clo-md-3"></div>
            <div class="clo-md-3"></div>
            <div class="clo-md-3"></div>
            <div class="clo-md-3"></div>
        </div>
        </section>
    </div>
{% endblock %}