{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Créer') }}</button>
    <a class="btn btn-outline-primary" href="{{ path('daily_report_show', {'id': dailyReport.id }) }}">Retour</a>
{{ form_end(form) }}