{% extends 'base.html.twig' %}

{% block title %}Weight{% endblock %}

{% block body %}
    <h1>Weight</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ weight.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ weight.date ? weight.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ weight.weight }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_main_data_weight_index') }}">back to list</a>

    <a href="{{ path('app_main_data_weight_edit', {'id': weight.id}) }}">edit</a>

    {{ include('main/data/weight/_delete_form.html.twig') }}
{% endblock %}
