{% extends 'layouts/sidebar_layout.html.twig' %}

{% block title %}Objectif{% endblock %}

{% block body %}
    <h1>Vos Objectifs</h1>

    <div class="table-responsive">
        <table class="table table-striped table-hove border">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Type</th>
                    <th scope="col">Valeur</th>
                    <th scope="col">Date de début</th>
                    <th scope="col">Date de fin</th>
                    <th scope="col">Actif</th>
                    <th scope="col">actions</th>
                </tr>
            </thead>
            <tbody>
            {% for objective in myObjectives %}
                <tr>
                    <th scope="row">{{ objective.label }}</th>
                    <td>{{ objective.getObjectiveTypeValue }}</td>
                    <td>{{ objective.objectiveValue }}</td>
                    <td>{{ objective.startAt ? objective.startAt|date('d/m/Y') : '' }}</td>
                    <td>{{ objective.endAt ? objective.endAt|date('d/m/Y') : '' }}</td>
                    {% if objective.active %}
                        <td><button class="btn btn-success"></button></td>
                    {% else %}
                        <td><button class="btn btn-danger"></button></td>
                    {% endif %}
                    <td>
                        <a href="{{ path('app_main_objective_show', {id: objective.id}) }}"><i class="fa-solid fa-eye text-primary"></i></a>
                        <a href="{{ path('app_main_objective_edit', {id: objective.id}) }}"><i class="fa-solid fa-pen-to-square text-primary"></i></a>
                        <a class="cursor-pointer" data-bs-toggle="modal" data-bs-target="#delete-objective-{{ objective.id }}"><i class="fa-solid fa-trash-can text-danger"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Vous n'avez pas d'objectif</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a class="btn btn-primary" href="{{ path('app_main_objective_new') }}">Ajouter</a>
    <a class="btn btn-primary" href="{{ path('dashboard') }}">Revenir à votre dashboard</a>
{% endblock %}

{% block modals %}
    {% for objective in myObjectives %}
    <div class="modal fade" id="delete-objective-{{ objective.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Attention</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Voulez vous vraiment supprimer cet objectif ?
                </div>
                <div class="modal-footer">
                    <a href="{{ path('app_main_objective_delete', {id: objective.id}) }}" class="text-danger">Supprimer</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
