{% extends 'base.html.twig' %}

{% block title %}Nutrition index{% endblock %}

{% block body %}
    <h1>Nutrition index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>MealType</th>
                <th>Date</th>
                <th>FoodWeight</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nutrition in nutrition %}
            <tr>
                <td>{{ nutrition.id }}</td>
                <td>{{ nutrition.mealType }}</td>
                <td>{{ nutrition.date ? nutrition.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ nutrition.foodWeight }}</td>
                <td>
                    <a href="{{ path('app_data_nutrition_show', {'id': nutrition.id}) }}">show</a>
                    <a href="{{ path('app_data_nutrition_edit', {'id': nutrition.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_data_nutrition_new') }}">Create new</a>
{% endblock %}
