{% extends 'layouts/sidebar_layout.html.twig' %}

{% block title %}Mes rapports
{% endblock %}

{% block body %}
	<h1>Mes rapports journaliers</h1>

	<a class="btn btn-primary" href="{{ path('daily_report_create') }}">Ajouter</a>

	<div class="my-2">
		{{ form_start(form) }}
		<span>Sélectionnez la période</span>
		<div class="input-group">
			{{ form_widget(form.start) }}
			{{ form_widget(form.end) }}
			<button type="submit" class="input-group-btn btn btn-primary">
				<i class="fa-solid fa-magnifying-glass"></i>
			</button>
		</div>
		{{ form_end(form) }}
	</div>

	<div class="table-responsive">
		<table class="table table-striped  table-hover border">
			<thead>
				<tr>
					<th scope="col">Jour</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for dailyReport in pager.currentPageResults %}
					<tr>
						<th scope="row">{{ dailyReport.date | date('d/m/y') }}</th>
						<td>
							<a href="{{ path('daily_report_show', {id: dailyReport.id}) }}">
								<i class="fa-solid fa-eye text-primary"></i>
							</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="2" class="text-center">Aucun rapport journalier.</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="d-flexjustify-content-endmt-3"></div>
	{% if pager.nbResults > pager.maxPerPage %}
		{% include 'components/_pagination.html.twig' %}
	{% endif %}
{% endblock %}
