{% extends 'base.html.twig' %}

{% block title %}SleepTime index{% endblock %}

{% block body %}
    <h1>SleepTime index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>AsleepAt</th>
                <th>AwakeAt</th>
                <th>Temps</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sleep_time in sleep_times %}
            <tr>
                <td>{{ sleep_time.id }}</td>
                <td>{{ sleep_time.asleepAt ? sleep_time.asleepAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sleep_time.awakeAt ? sleep_time.awakeAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sleep_time.time }}</td>
                <td>
                    <a href="{{ path('app_main_data_sleep_time_show', {'id': sleep_time.id}) }}">show</a>
                    <a href="{{ path('app_main_data_sleep_time_edit', {'id': sleep_time.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_main_data_sleep_time_new') }}">Create new</a>
{% endblock %}
