{% extends 'base.html.twig' %}

{% block title %}SleepTime{% endblock %}

{% block body %}
    <h1>SleepTime</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sleep_time.id }}</td>
            </tr>
            <tr>
                <th>AsleepAt</th>
                <td>{{ sleep_time.asleepAt ? sleep_time.asleepAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>AwakeAt</th>
                <td>{{ sleep_time.awakeAt ? sleep_time.awakeAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{ sleep_time.time }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_main_data_sleep_time_index') }}">back to list</a>

    <a href="{{ path('app_main_data_sleep_time_edit', {'id': sleep_time.id}) }}">edit</a>

    {{ include('main/data/sleep_time/_delete_form.html.twig') }}
{% endblock %}
